REACT_APP_SERVER_ENDPOINTS_PORT=8080

REACT_APP_FACEBOOK_APP_ID=
# Complete this variable if you have your facebook app switched to
# production and cannot login in localhost because HTTPS is required,
# follow these instructions: https://stackoverflow.com/a/57607570/624810
REACT_APP_FACEBOOK_APP_ID_FOR_TESTING=

# This is here just to avoid a nonsense error with npm
SKIP_PREFLIGHT_CHECK=true