{
   "arrowParens": "avoid",
   "bracketSpacing": true,
   "endOfLine": "auto",
   "htmlWhitespaceSensitivity": "css",
   "insertPragma": false,
   "jsxBracketSameLine": false,
   "jsxSingleQuote": false,
   "printWidth": 112,
   "proseWrap": "preserve",
   "quoteProps": "as-needed",
   "requirePragma": false,
   "semi": true,
   "singleQuote": false,
   "tabWidth": 3,
   "trailingComma": "all",
   "useTabs": false,
   "vueIndentScriptAndStyle": false,
   "parser": "typescript",
   "legacy-peer-deps": true
 }