.section1-mainContainer {
   display: flex;
   position: relative;
   width: 100vw;
   min-height: 100vh;
   animation: background-image-move-animation 45s ease-in-out 1s infinite reverse;
   animation-direction: alternate;
   animation-play-state: running;
}

@media only screen and (min-width: 600px) {
   .section1-mainContainer {
      background-image: url("../img/background1.jpeg");
      background-attachment: fixed;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      align-items: center;
   }
}

@keyframes background-image-move-animation {
   from {
      background-position: 0% 100%;
   }
   to {
      background-position: 100% 0%;
   }
}

.section1-content-container {
   display: flex;
   position: absolute;
   width: 400px;
   height: 400px;
   transform-origin: center center;
   left: 100px;
   border-radius: 23px;
   background: linear-gradient(180deg, #9b63f8 0%, #809ffc 100%);
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   padding: 21px 35px;
   padding-bottom: 0px;
}

@media only screen and (max-width: 600px) {
   .section1-content-container {
      width: 100vw;
      min-height: 100vh;
      left: 0;
      border-radius: 0;
      padding: 20px 27px;
   }
}

.section1-logo {
   height: 119px;
}

@media only screen and (max-width: 600px) {
   .section1-logo {
      height: 20vh;
   }
}

.section1-text {
   font-weight: 200;
   font-size: 29px;
   line-height: 38px;
   text-align: center;
}

.section1-text b {
   font-weight: 400;
}

.section1-store-buttons-container {
   display: flex;
   width: 100%;
   height: 47px;
   justify-content: space-between;
   flex-direction: row;
}

.section1-button-store {
   transition: all 200ms ease-in-out 0s;
   height: 100%;
   cursor: pointer;
   display: flex;
   justify-content: center;
}

.section1-button-store:hover {
   transform: scale(1.1);
}

.section1-button-store img {
   height: 100%;
}

@media only screen and (max-width: 600px) {
   .section1-store-buttons-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: fit-content;
      row-gap: 14px;
   }

   .section1-button-store {
      width: 100%;
      max-width: 166px;
      height: auto;
   }

   .section1-button-store img {
      width: 100%;
   }
}

.section1-legal-buttons-container {
   display: flex;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   width: 100%;
   column-gap: 14px;
   row-gap: 4px;
   text-decoration: underline;
   text-underline-offset: 2px;
   text-align: center;
}

.section1-legal-buttons-container a {
   font-size: 13px;
   font-weight: 500;
   transition: color 0.3s;
   color: #32008b;
}

.section1-legal-buttons-container a:hover {
   color: #e9e9e9;
}
